[Unit]
Description=CEC Control Daemon
After=network.target
Wants=dbus.service

[Service]
Type=simple
User=@INSTALL_USER@
Group=@INSTALL_GROUP@
ExecStart=@CMAKE_INSTALL_PREFIX@/bin/cec-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target